.blog {
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 1190px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 11.5rem;

  @media (max-width: $tablet-width) {
    margin-bottom: 6rem;
  }
}

.blog h2 {
  font-size: 34px;
  line-height: 130%;

  letter-spacing: 0.03em;
  color: $text-black;
  margin-bottom: 2rem;
}

.blog a {
  color: $text-black;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 1px solid $primary;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: darken($primary, 25%);
  }
}

.blog__cards {
  max-width: 1190px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  grid-row-gap: 2.5rem;
  grid-column-gap: 2.5%;
  margin-top: 6rem;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    margin-top: 6rem;
    grid-row-gap: 4.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @media (max-width: $mobile-width) {
    grid-row-gap: 4rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

.blog__card {
  display: flex;
  text-align: center;
  background-color: $card-bg;
  position: relative;
  padding: 0;
  margin: 0;
  min-height: 30rem;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    min-height: 51rem;
  }
}

.blog__card:last-child {
  grid-row: 1 / 3;
  grid-column: 2;

  @media (max-width: $tablet-width) {
    grid-column: 1;
    grid-row: 3;
  }
}

.blog__wrapper {
  @media (max-width: $mobile-width) {
    width: 100%;
    height: 256px;
  }
}


.blog__card img {
  @media (max-width: $tablet-width) {
    min-width: 339px;
    width: 100%;
    max-height: 300px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: auto;
//    object-fit: cover;
    max-height: 250px;
    min-width: 290px;
  }
}

.blog__card:last-child img {
  width: 100%;
  height: 630px;

  @media (max-width: $tablet-width) {
    width: 339px;
    height: 300px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 256px;
    min-height: 256px;
  }
}

.blog__card .blog__desc {
  width: 50%;
  margin-top: 7rem;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    margin-top: 4rem;
  }
}

.blog__card:nth-child(2n) .blog__desc {
  @media (max-width: $mobile-width) {
    order: 2;
  }
}

.blog__card:last-child .blog__desc {
  @media (min-width: $desktop-width-only) {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 285px;
    height: 48%;
    background-color: $card-bg;
    padding-top: 7rem;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 2rem;
  }
}

.blog__desc p {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  line-height: 130%;
  color: #9b9997;
  max-width: 15rem;
  margin: 0 auto;
}

.blog__desc h3 {
  font-size: 26px;
  line-height: 130%;
  color: black;
  max-width: 17rem;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.blog__desc a {
  color: $text-black;
  border-bottom: 1px solid $primary;
  font-size: 16px;
  line-height: 130%;
}
