.faq {
  max-width: 990px;
//  min-height: 715px;
  margin: 0 auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 11rem;


  @media (max-width: $tablet-width) {
    max-width: 700px;
//    min-height: 680px;
    margin-bottom: 7rem;
  }

  @media (max-width: $mobile-width) {
    min-width: 310px;
//    min-height: 620px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 6rem;
  }
}

.faq h2 {
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $text-black;
  margin-bottom: 5rem;

  @media (max-width: $mobile-width) {
    margin-bottom: 3rem;
  }
}

.faq__wrapper {
  border: 1px solid $primary;
  height: 100%;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.accordion-item {
  border-bottom: 1px solid $primary;
  min-height: 112px;

  @media (max-width: $tablet-width) {
    padding-bottom: 2.5rem;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 0.5rem;
    min-height: 82px;
  }
}

.accordion-item__trigger {
  font-family: "Poppins", "Arial", sans-serif;
  display: block;
  color: $text-black;
  cursor: pointer;
  padding-top: 4rem;
  padding-left: 4rem;
  padding-bottom: 70px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: transparent;
  position: relative;
  height: 7rem;
  z-index: 0;

  @media (max-width: $tablet-width) {
    padding-left: 5rem;
    height: 3.5rem;
    padding-top: 4.5rem;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 140%;
    position: relative;
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-bottom: 0;
    height: 6.5rem;
  }

  &:hover,
  &:focus {
    color: $primary;
  }
}

.accordion-item__content {
  margin-left: 5rem;
  background-color: white;
  max-height: 0;
  max-width: 52rem;
  text-align: left;
  margin-top: -50px;
  margin-bottom: 23px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    max-width: 80%;
    margin-top: -20px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 2.5rem;
    max-width: 72%;
  }
}

.accordion-item__trigger::after {
  position: absolute;
  content: "";
  right: 0;
  background-image: url(".././img/downarrow.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 8px;
  font-size: 18px;
  float: right;
  margin-right: 5rem;
  top: 47%;

  @media (max-width: $tablet-width) {
    position: absolute;
    right: 45px;
    top: 5.5rem;
    width: 23px;
    height: 12px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    right: 18px;
    top: 3rem;
    width: 20px;
    height: 10px;
    margin-right: 0;
  }
}

.active::after {
  content: "";
  background-image: url(".././img/arrowup.svg");
  background-repeat: no-repeat;
  width: 15px;
  height: 18px;
  font-size: 18px;
  float: right;
  margin-left: 0;
  margin-top: 0;
  top: 45%;

  @media (max-width: $tablet-width) {
    position: absolute;
    right: 45px;
    top: 5rem;
    width: 23px;
    height: 12px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    right: 18px;
    top: 2rem;
    width: 20px;
    height: 10px;
    margin-right: 0;
  }
}


.accordion-item b {
  font-weight: 500;
  font-family: "Poppins", "Arial", sans-serif;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    max-width: 90%;
    font-size: 18px;
    line-height: 130%;
  }

  @media (max-width: $mobile-width) {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: block;
    max-width: 78%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.accordion-item__content p {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 130%;
  color: $text-black;
  z-index: 10;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 130%;
    margin-top: 3rem;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 2rem;
  }
}
