.modal--hidden {
  display: none;
}

//modalLogin

.modal--login {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
  transform: translate(-50%, 00%);
  width: 100%;
  height: 100%;
  background-color: rgba(25, 22, 19, 0.5);
}

.modal--login .modal__content {
  width: 430px;
  height: 586px;
  background-color: #f0eae4;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;
}

.modal--login .modal__wrapper {
  width: 340px;
  margin: 0 auto;
  position: relative;
}

.modal--login h2 {
  text-align: center;
  font-size: 34px;
  line-height: 130%;
}

.modal--login .modal__wrapper input {
  width: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid $text-black;
  height: 3rem;
  margin-bottom: 4rem;
  color: $text-black;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;


  &::placeholder {
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #9b9997;
  }
}

.modal--login .modal__form a {
  font-family: "Poppins", "Arial", sans-serif;
  text-align: right;
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 18px;
  color: #9b9997;
  position: absolute;
  top: 17.5rem;

  &:hover,
  &:focus {
    color: darken($text-black, 15%);
  }

  &:active {
    color: darken($text-black, 25%);
  }
}


.modal--login .modal__wrapper button {
  width: 340px;
  height: 68px;
  background-color: $primary;
  color: white;
  border: none;
  outline: none;

  @media (max-width: $mobile-width) {
    max-width: 260px;
  }

  &:hover,
  &:focus {
    background-color: darken($primary, 15%);
  }

  &:active {
    background-color: darken($primary, 25%);
  }
}

.modal--login .modal__signup {
  font-family: "Poppins", "Arial", sans-serif;
  display: flex;
}

.modal--login .modal__signup p {
  color: #9b9997;
}

.modal--login .modal__signup a {
  height: 100%;
  align-self: center;
  margin-left: 1rem;

  &:hover,
  &:focus {
    color: lighten($text-black, 15%);
  }

  &:active {
    color: lighten($text-black, 25%);
  }
}

//login--nojs

.modal__back {
  outline: none;
  border: none;
  position: absolute;
  stroke: $primary;
  transform: rotate(180deg);
  width: 6rem;
  height: 5rem;
  background-color: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    stroke: white;
  }
}

.modal--nojs {
  background-color: #f0eae4;
  z-index: 100;
  width: 100%;
  height: 586px;
  margin: 0 auto;
  top: 0;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
}

.modal--nojs img {
  width: 100%;
}


.modal--nojs .modal__wrapper {
  @media (max-width: $mobile-width) {
    width: 290px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.modal__logo {
  text-align: center;
}

// modalCard

.modal--card {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 50%;
  box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
  width: 100%;
  height: 100%;
  background-color: rgba(25, 22, 19, 0.5);
  transform: translate(-50%, 00%);

  @media (max-width: $mobile-width) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.modal--card .modal__content {
  width: 500px;
  height: 439px;
  background-color: white;
  margin: 0 auto;
  margin-top: 10rem;
  position: relative;

  @media (max-width: $mobile-width) {
    width: 290px;
    height: 520px;
  }
}

.modal--card .modal__wrapper {
  max-width: 430px;
  margin: 0 auto;
  height: 440px;
  margin-top: 10rem;

  @media (max-width: $mobile-width) {
    max-width: 260px;
  }
}

.modal__item--card {
  flex-grow: 0;
}

.modal__item--card h3 {
  margin-top: -4px;
  margin-bottom: 1rem;
  font-size: 18px;
  line-height: 130%;

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 130%;
  }
}

.modal__item--card p {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 18px;
  line-height: 130%;
}

.modal__item--card button {
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__item--card svg {
  fill: #9b9997;

  &:hover,
  &:focus {
    fill: black;
  }
}

.modal__item--card:nth-child(2n) {
  flex-grow: 2;
}

.modal__item--card:nth-child(3n) {
  text-align: center;
}

.modal__item--card:nth-child(3n) p {
  margin-top: 0;
  margin-bottom: 0;
}

.modal__desc--card {
  display: flex;
  column-gap: 2rem;
  margin-bottom: 3rem;
}

.modal__item--card img {
  @media (max-width: $mobile-width) {
    width: 70px;
    height: 63px;
  }
}

.modal--card h2 {
  font-weight: normal;
  padding-top: 5rem;
  margin-bottom: 4.5rem;
  color: $text-black;
  text-align: center;
  font-size: 26px;
  line-height: 130%;

  @media (max-width: $mobile-width) {
    max-width: 200px;
    margin: 0 auto;
    margin-top: 4rem;
    margin-bottom: 3.5rem;
    font-size: 24px;
    line-height: 120%;
  }
}

.modal--card .modal__sum {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }
}

.modal--card .modal__sum p {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $mobile-width) {
    font-size: 12px;
    line-height: 130%;
  }
}

.modal--card .modal__buttons {
  display: flex;
  justify-content: center;
  column-gap: 3rem;
  margin-bottom: 2rem;

  @media (max-width: $mobile-width) {
    flex-wrap: wrap;
    row-gap: 2rem;
  }
}


.modal__buttons a:first-child {
  background-color: white;
  border: 1px solid $primary;
  color: $text-black;

  &:hover,
  &:focus {
    color: white;
    background-color: $primary;
  }

  &:active {
    background-color: darken($primary, 25%);
  }
}

.modal__buttons a {
  white-space: nowrap;
  width: 200px;
  padding-top: 2.5rem;
  padding-bottom: 2rem;
  text-align: center;
  background-color: $primary;
  color: white;
  font-size: 16px;
  line-height: 130%;
  font-family: "Poppins", "Arial", sans-serif;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $text-black;
    background-color: white;
    border: 1px solid $primary;
  }

  &:active {
    color: white;
    background-color: darken($primary, 25%);
  }

  @media (max-width: $mobile-width) {
    width: 260px;
  }
}

.modal__close {
  position: absolute;
  right: 2.5rem;
  background: none;
  border: none;
  top: 2rem;
  cursor: pointer;
  fill: $text-black;
  height: 14px;
  width: 14px;

  &:hover,
  &:focus {
    fill: lighten(white, 15%);
  }

  &:active {
    color: darken(white, 25%);
  }
}
