.products {
  max-width: 1180px;
  margin: 0 auto;
  text-align: center;
  margin-top: 12rem;
  color: $text-black;
  margin-bottom: 12rem;

  @media (max-width: $tablet-width) {
    margin-top: 7rem;
    max-width: 768px;
    min-height: 650px;
    margin-bottom: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 6.5rem;
    min-height: 420px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.products h2 {
  font-weight: bold;
  letter-spacing: 0.03em;
  font-size: 34px;
  line-height: 44px;

  @media (max-width: $tablet-width) {
    padding-left: 2rem;
    line-height: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.products a {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: $text-black;
  border-bottom: 1px solid $primary;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: darken($primary, 25%);
  }
}

.slider {
  position: relative;

  @media (max-width: $tablet-width) {
    max-width: 680px;
    margin: 0 auto;
  }
}

.slider__item {
  transition: all 0.3s ease 0s;
  margin-top: 6rem;
  margin-right: 3rem;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    margin-top: 4rem;
  }
}

.slider__wrapper img {
  width: 100%;
  max-height: 284px;

  @media (max-width: $tablet-width) {
    max-width: 324px;
    min-height: 340px;
  }

  @media (max-width: $mobile-width) {
    height: 45%;
    min-height: inherit;
  }
}

.slider__item h3 {
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 16px;
  line-height: 21px;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    margin-top: 1rem;
  }
}

.slider__item p {
  font-size: 14px;
  line-height: 18px;
  font-family: "Poppins", "Arial", sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.slider .slick-arrow {
  position: absolute;
  top: -10%;
  z-index: 1;
  font-size: 0;
  cursor: pointer;
}

.slider .slick-arrow.slick-prev {
  left: 1.5rem;
  background: url(".././img/vector.svg") 0 0 / 100% no-repeat;
  width: 3rem;
  height: 1rem;
  background-color: transparent;
  transform: rotate(180deg);
  outline: none;
  border: none;

  @media (max-width: $tablet-width) {
    left: 0.5rem;
    height: 2rem;
    width: 4rem;
  }
}

.slider .slick-arrow.slick-next {
  right: 1.5rem;
  background: url(".././img/vector.svg") 0 0 / 100% no-repeat;
  width: 3rem;
  height: 1rem;
  stroke: black;
  background-color: transparent;
  outline: none;
  border: none;

  @media (max-width: $tablet-width) {
    right: 0.5rem;
    height: 2rem;
    width: 4rem;
  }
}

.slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-top: 2rem;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-top: 1rem;
  }
}

.slick-dots li {
  list-style: none;
}

.slick-dots button {
  outline: none;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  font-size: 16px;

  @media (max-width: $tablet-width) {
    font-family: "Poppins", "Arial", sans-serif;
    color: black;
    opacity: 0.5;
    width: 16px;
    margin-right: 0.6rem;
  }
}

.slick-track {
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.products .slick-slide:nth-child(2n) {
  margin-left: 3rem;
  margin-right: 3rem;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.slick-list {
  overflow: hidden;
}

// catalog.html

.slider--catalog h3 {
  font-weight: 500;
}

.products--catalog {
  display: flex;
  margin-top: 8rem;
  max-width: 1190px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-bottom: 5rem;

  @media (max-width: $tablet-width) {
    display: block;
    margin-top: 5rem;
  }

  @media (max-width: $mobile-width) {
    margin-top: 4rem;
    margin-bottom: 4.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
}

.filter-toggle {
  display: none;

  @media (max-width: $tablet-width) {
    outline: none;
    border: none;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 678px;
    background-color: $primary;
    height: 68px;
    color: white;
    font-family: "Poppins", "Arial", sans-serif;
    margin-bottom: 5rem;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 4rem;
  }
}

.slider--catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1rem;
  grid-column-gap: 3rem;

  @media (max-width: $tablet-width) {
    max-width: 680px;
    margin-bottom: 6rem;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    grid-column-gap: 0;
    justify-content: space-between;
    grid-row-gap: 0;
  }
}

.slider--catalog .slider__item {
  margin-top: 0;
  margin-right: 0;

  @media (max-width: $mobile-width) {
    width: 45%;
  }
}

.slider__wrapper--catalog img {
  width: 100%;
  max-height: 272px;

  @media (max-width: $tablet-width) {
    max-width: 206px;
    min-height: 208px;
    max-height: 208px;
  }

  @media (max-width: $mobile-width) {
    min-width: 130px;
    max-height: 136px;
    height: 136px;
    min-height: 136px;
  }
}

.slider--catalog p {
  margin-bottom: 2.8rem;
}

.filter {
  margin-left: 0;
  margin-right: 5rem;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 10;
    width: 100%;
    height: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-top: 2rem;
  }
}

.filter--opened {
  @media (max-width: $tablet-width) {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 50%;
    box-shadow: 0 4px 32px rgba(121, 121, 121, 0.24);
    transform: translate(-50%, 00%);
    width: 100%;
    height: 100%;
    background-color: white;
    overflow-y: scroll;
  }
}

.filter form {
  max-width: 250px;

  @media (max-width: $tablet-width) {
    position: relative;
    max-width: 465px;
  }

  @media (max-width: $mobile-width) {
    max-width: 270px;
  }
}

.filter--closed {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.filter--nojs {
  display: block;
  position: relative;
  margin-bottom: 3rem;
}

.filter--nojs form {
  margin: 0 auto;
}

.filter--nojs .filter__close {
  display: none;
}

.filter--nojs .filter-item__content {
  max-height: 290px;
  display: block;
}

.filter__content {
  border: 1px solid $primary;
  width: 250px;
  text-align: left;
  margin-right: 0;

  @media (max-width: $tablet-width) {
    border: none;
    width: 43rem;
  }

  @media (max-width: $mobile-width) {
    width: 280px;
  }
}

.filter-item {
  min-height: 73px;
  border-bottom: 1px solid $primary;
  margin-bottom: 0;
}

.filter-item__content {
  margin-left: 4rem;
  background-color: white;
  max-height: 0;
  max-width: 52rem;
  text-align: left;
  margin-bottom: 0;
  margin-top: -17px;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  display: none;

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}


.filter-item__trigger {
  font-family: "Poppins", "Arial", sans-serif;
  display: block;
  color: $text-black;
  cursor: pointer;
  padding-top: 0;
  padding-left: 3.5rem;
  padding-bottom: 0;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  background-color: transparent;
  position: relative;
  height: 70px;

  @media (max-width: $tablet-width) {
    padding-left: 0;
    height: 92px;
    padding-top: 1rem;
  }

  @media (max-width: $mobile-width) {
    height: 72px;
  }

  &:hover,
  &:focus {
    color: $primary;
  }
}

.filter-item__trigger::after {
  position: absolute;
  content: "";
  right: 0;
  background-image: url(".././img/downarrow.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  font-size: 18px;
  float: right;
  margin-right: 2.5rem;
  top: 45%;

  @media (max-width: $tablet-width) {
    position: absolute;
    right: 35px;
    top: 4rem;
    width: 25px;
    height: 10px;
    margin-right: 0;
  }
}

.filter-item__content label {
  padding-left: 2rem;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    padding-left: 7rem;
  }

  @media (max-width: $mobile-width) {
    padding-left: 6.5rem;
  }
}

.filter-item__content input {
  position: absolute;
  appearance: none;
}

.card .slick-track {
  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

// Checked

.filter-item__content input:checked + .checkbox {
  background-image: url(".././img/on.svg");
  opacity: 1;
}

.filter-item__content input:focus + .checkbox {
  box-shadow: 0 0 0 0.2rem $primary;
  opacity: 0.5;
}

.filter-item b {
  font-size: 16px;
  line-height: 130%;
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 500;
  margin-left: -1rem;
  margin-top: -0.5rem;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    padding-left: 0;
    padding-top: 3rem;
    margin-left: 3rem;
  }

  @media (max-width: $mobile-width) {
    margin-left: 2.5rem;
    margin-top: 1rem;
    padding-top: 1rem;
  }
}

.filter-item ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 2rem;

  @media (max-width: $tablet-width) {
    margin-bottom: 4rem;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-bottom: 3rem;
  }
}

.filter-item li {
  margin-bottom: 1.3rem;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  line-height: 130%;

  @media (max-width: $tablet-width) {
    margin-bottom: 2rem;
  }
}

.filter-item__content span {
  position: absolute;
  width: 16px;
  height: 15px;
  background-image: url(".././img/off.svg");
  margin-left: -2.5rem;

  @media (max-width: $tablet-width) {
    margin-left: -3rem;
  }
}

.active1::after {
  content: "";
  background-image: url(".././img/arrowup.svg");
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  font-size: 18px;
  float: right;
  margin-left: 4px;
  margin-top: 1rem;
  top: 30%;

  @media (max-width: $tablet-width) {
    position: absolute;
    right: 35px;
    top: 5rem;
    width: 25px;
    height: 10px;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    top: 2rem;
  }
}

.filter__buttons {
  margin-left: 0;
  margin-bottom: 3rem;
}

.filter__buttons button[type="submit"] {
  font-family: "Poppins", "Arial", sans-serif;
  outline: none;
  border: none;
  width: 250px;
  height: 68px;
  background-color: $primary;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem;
  color: white;
  font-size: 16px;
  line-height: 130%;

  @media (max-width: $tablet-width) {
    width: 362px;
  }

  @media (max-width: $mobile-width) {
    width: 230px;
  }

  &:hover,
  &:focus {
    background-color: white;
    border: 1px solid $primary;
    color: $text-black;
  }
}

.filter__buttons button[type="reset"] {
  font-family: "Poppins", "Arial", sans-serif;
  outline: none;
  width: 250px;
  height: 68px;
  background-color: transparent;
  border: 1px solid $primary;
  color: $text-black;
  font-size: 16px;
  line-height: 130%;

  @media (max-width: $tablet-width) {
    width: 362px;
  }

  @media (max-width: $mobile-width) {
    width: 230px;
  }

  &:hover,
  &:focus {
    background-color: $primary;
    color: white;
  }
}


.slider--catalog ol {
  display: flex;
  list-style: none;
  margin-top: 0;
  column-gap: 1.5rem;
  padding-left: 0;

  @media (max-width: $tablet-width) {
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 1.5rem;
    column-gap: 2.5rem;
  }
}

.slider--catalog li {
  margin-right: 0;
  color: #9b9997;
}

.slider--catalog li:first-child {
  color: black;
}

.slider__pages {
  font-family: "Poppins", "Arial", sans-serif;
  width: 100%;
  display: flex;
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  grid-column: 1 / 4;
  margin-top: 4rem;

  @media (max-width: $tablet-width) {
    margin-top: 3rem;
  }

  @media (max-width: $mobile-width) {
    display: block;
    margin-top: 0;
  }
}

.slider__pages a {
  height: 20px;
  border: none;
  font-size: 16px;
  line-height: 130%;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.range-filter {
  margin-left: 3rem;
  margin-top: -1rem;
  margin-bottom: 5rem;

  @media (max-width: $tablet-width) {
    z-index: 10;
    margin-left: 9rem;
  }

  @media (max-width: $mobile-width) {
    z-index: 10;
    margin-left: 3rem;
  }
}

.range-controls {
  position: relative;
  margin-bottom: 35px;
  padding-top: 15px;
  padding-right: 0;
  padding-left: 0;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  width: 12rem;
  background-color: #a87b62;

  @media (max-width: $tablet-width) {
    width: 18rem;
    z-index: 10;
  }
}

.range-controls .toggle {
  position: absolute;
  top: 10px;
  left: 0;
  width: 15px;
  height: 15px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: $primary;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(box-shadow-toggle);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 0;
}

.range-controls .toggle-max {
  left: 110px;

  @media (max-width: $tablet-width) {
    left: 170px;
  }
}

.toggle p {
  position: absolute;
  white-space: nowrap;
  font-family: "Poppins", "Arial", sans-serif;
  font-size: 14px;
  line-height: 130%;
}

.toggle-min p {
  left: -5px;
  top: 8px;
}

.toggle-max p {
  right: -10px;
  top: 9px;
}

.filter__close {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: absolute;
    right: 0;
    z-index: 1000;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: black;
    background-image: url(".././img/cross.svg");
    background-repeat: no-repeat;
    background-position: 7px 7px;
    margin-right: 1rem;
  }

  @media (max-width: $mobile-width) {
    right: -3rem;
    top: -1rem;
  }
}

// card.html

.products--card {
  margin-top: 11rem;
  margin-bottom: 12.5rem;
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;

  @media (max-width: $tablet-width) {
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  @media (max-width: $mobile-width) {
    margin-top: 4rem;
    margin-bottom: 4.5rem;
  }
}

.products--card h2 {
  font-size: 34px;
  line-height: 130%;

  @media (max-width: $tablet-width) {
    margin-bottom: 2rem;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    font-size: 32px;
    margin-top: 4.5rem;
  }
}

.slider--card .slider__item {
  @media (max-width: $tablet-width) {
    margin-top: 5rem;
  }
}

.slider__wrapper--card img {
  @media (max-width: $tablet-width) {
    height: auto;
    min-height: 340px;
    max-width: 324px;
  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;
    min-height: 136px;
  }
}

.slider--card {
  @media (max-width: $tablet-width) {
    max-width: 680px;
  }
}

.slider--card .slick-dots {
  margin-top: 3rem;
  height: 12px;

  @media (max-width: $tablet-width) {
    margin-top: 2rem;
  }
}

.slider--card .slick-arrow.slick-prev {
  left: 0.5rem;

  @media (max-width: $tablet-width) {
    left: 0;
  }
}

.slider--card .slick-arrow.slick-next {
  right: 0.5rem;

  @media (max-width: $tablet-width) {
    right: 0;
  }
}

.number {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    font-family: "Poppins", "Arial", sans-serif;
    font-size: 16px;
    line-height: 130%;
  }
}

.slick-active button {
  color: black;
  opacity: 1;
}
