@import "vars";
@import "blocks/nav.scss";
@import "blocks/intro.scss";
@import "blocks/products.scss";
@import "blocks/faq.scss";
@import "blocks/blog.scss";
@import "blocks/contacts.scss";
@import "blocks/footer.scss";
@import "blocks/modal.scss";
@import "blocks/card.scss";

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-style: normal;
  font-size: 1.6rem;
  min-width: 320px;
  margin: 0 auto;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

a {
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $primary;
  }

  &:active {
    color: darken($primary, 25%);
  }
}

.btn {
  cursor: pointer;
}

/* cormorant-garamond-regular - latin_cyrillic */
@font-face {
  font-family: "Cormorant Garamond";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/cormorant-garamond-v10-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin_cyrillic-regular.woff") format("woff");

}
/* cormorant-garamond-500 - latin_cyrillic */
@font-face {
  font-family: "Cormorant Garamond";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/cormorant-garamond-v10-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin_cyrillic-500.woff") format("woff");
}
/* cormorant-garamond-700 - latin_cyrillic */
@font-face {
  font-family: "Cormorant Garamond";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/cormorant-garamond-v10-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/cormorant-garamond-v10-latin_cyrillic-700.woff") format("woff");
}

/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-regular.woff") format("woff");
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/poppins-v15-latin-500.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-500.woff") format("woff");
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/poppins-v15-latin-700.woff2") format("woff2"),
    url("../fonts/poppins-v15-latin-700.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  white-space: nowrap;
}

.main__image {
  background-image: url(".././img/intro.png");
  background-repeat: no-repeat;
  height: 880px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  object-fit: cover;
  background-size: 100% 100%;

  @media (max-width: $tablet-width) {
    height: 69rem;
  }

  @media (max-width: $mobile-width) {
    height: 65rem;
  }
}
